*{
    margin: 0;
    padding: 0;
}
.main{
    padding: 50px 0px 50px 0px;
}
header{    
    display: flex;
    
}
.back{
    
    background-color: #1f2937;
}
.container{
    margin: 0 auto;
    width: 1100px;
}
